{% extends 'basic.html' %}
{% block title %}История{% endblock %}
{% block content %}
    <body>
    <ol class="list-group list-group-numbered">
        {% for u in url %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ u.httpurl }}</div>
                    <a href={% url 'redirect' u.short_id %}>https://fierce-everglades-77803.herokuapp.com/{{ u.short_id }}</a>
                </div>
            </li>
        {% endfor %}
    </ol>
    </body>
{% endblock %}